
/*-------------------------------
------------SIDE NAV-------------
-------------------------------*/
.main {
    position: relative;
}

.main img {
    width: 100%;
    height: 700px;
    object-fit: cover;
    object-position: top;
    border: none;
}

.main .navbtn1 {
    position: absolute;
    top: 30%;
    left: 15%;
    color: #152E4E;
    font-size: 28px;
    border: none;
    border-radius:50%;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    padding-right: 0.40em;
    padding-left: 0.43em;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
}
.main .navbtn2 {
    position: absolute;
    top: 40%;
    left: 15%;
    color: #152E4E;
    font-size: 28px;
    border: none;
    border-radius:50%;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    padding-right: 0.49em;
    padding-left: 0.51em;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
}
.main .navbtn3 {
    position: absolute;
    top: 50%;
    left: 15%;
    color: #152E4E;
    font-size: 22px;
    border: none;
    border-radius:50%;
    padding-top: 0.57em;
    padding-bottom: 0.57em;
    padding-right: 0.70em;
    padding-left: 0.72em;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
}

.main .navbtn4 {
    position: absolute;
    top: 60%;
    left: 15%;
    color: #152E4E;
    font-size: 26px;
    border: none;
    border-radius:50%;
    padding-top: 0.45em;
    padding-bottom: 0.35em;
    padding-right: 0.57em;
    padding-left: 0.59em;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

a {
    display: block;
}

img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

/*-------------------------------
-----------SCROLLBAR------------
-------------------------------*/

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #152E4E;
  opacity: 0.7;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}


