html {
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow:overlay;
}

.logo {
    position: absolute;
    top: 3vh;
    left: 3vw;
    width: 50px;
    height: 50px;
    border-color: #152E4E;
    border-width: 1.5px;
    background: url(logo.png);
    background-size: 100%;
    z-index: 2;
}

/*-------------------------------
--------------CIRCLE-------------
-------------------------------*/
.cir {
    border-radius:50%;
    padding-top: 0.45em;
    padding-bottom: 0.35em;
    padding-right: 0.57em;
    padding-left: 0.59em;
}

/*-------------------------------
---------DROPDOWN MENU-----------
-------------------------------*/
.menu {
    position: absolute;
    top: 4.22313vw;
    left: 6%;
    color: #3163a5;
    font-size: 3.95vw;
    font-family: Montserrat;
    border: none;
    background-color: #fff;
}

.dd-content {
    display: none;
    position: absolute;
    top: 8.7vw;
    left: 6%;
    background-color: #152E4E;
    font-family: Montserrat;
    font-size: 1.3vw;
    width: 20vw;
    height: 16.7vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dd-content a {
    top: 5.2vw;
    left: 6%;
    color: #fff;
    font-weight: 500;
    padding: 2vw 2vw;
    text-decoration: none;
}

.dd-content a:hover {
    background-color: #fff;
    color: #3163a5;
}

.dropdown:hover .dd-content {
    display: block;
}

.dropdown:hover .menu {
    background-color:#152E4E;
    color: #fff;
    border-top: #fff;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-width: 3px;
}

/*-------------------------------
-------------TOP NAV-------------
-------------------------------*/
.top-nav {
    background-color: #152E4E;
    color: #fff;
}

.top-nav .home {
    position: absolute;
    top: 1vw;
    right: 39vw;
    color: #fff;
    font-family: Montserrat;
    font-size: min(13px, 1.35vw);
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.top-nav .about {
    position: absolute;
    top: 1vw;
    right: 31vw;
    color: #fff;
    font-family: Montserrat;
    font-size: min(13px, 1.35vw);
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.top-nav .resume {
    position: absolute;
    top: 1vw;
    right: 23vw;
    color: #fff;
    font-family: Montserrat;
    font-size: min(13px, 1.35vw);
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.top-nav .insta {
    position: absolute;
    top: 1vw;
    right: 13vw;
    color: #fff;
    font-family: Montserrat;
    font-size: min(13px, 1.35vw);
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.top-nav .contact {
    position: absolute;
    top: 1vw;
    right: 4.5vw;
    color: #fff;
    font-family: Montserrat;
    font-size: min(13px, 1.35vw);
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
}

/*-------------------------------
--------------HOME---------------
-------------------------------*/
.myname .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
    text-align: center;
    color: #fff;
    font-weight: 300;
    font-size: max(25px, 3.5vw);
    z-index: 2;
}

.myname .image img {
    object-position: 50% 30%;
}

/*-------------------------------
-------------TITLES--------------
-------------------------------*/
span {
    position: absolute;
    top: 12.2vw;
    font-family: Montserrat;
    font-weight: 300;
    font-size: max(50px, 5vw);
    color: #fff;
    border-bottom: .25vw solid #3163a5;
    border-bottom: .25vw solid rgba(49, 99, 165, .6);
    padding-bottom: .75vw;
    z-index: 2;
}

/*-------------------------------
--------------ABOUT--------------
-------------------------------*/
.descMe {
    position: absolute;
    top: 24.2vw;
    left: 8%;
    right: 50%;
    font-family: Montserrat;
    color: #fff;
    font-weight: 400;
    font-size: max(18px, 1.5vw);
    z-index: 2; 
}

.abtbck span {
    left: 8%;
} 

.abtbck .image img {
    filter: brightness(40%);
    object-position: 50% 25%;
}

/*-------------------------------
-------------RESUME--------------
-------------------------------*/
.resumebck {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    width: min(800px, 100%);
}

.image {
    display: inline-block;
}

.image img {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 90vh;
    object-fit: cover;
    object-position: top;
    border: none;
    z-index: 0;
}

.top-nav svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: min(40px, 3.7vw);
    width: 100vw;
}

rect {
    height: min(40px, 3.7vw);
    width: 100vw;
    x=0;
    y=0;
    fill: #152E4E;
    color: #fff;
    opacity: 90%;
}

.modfooter .social-footer-icons .lnkdin {
    position: absolute;
    right: 15vw;
    color: #152E4E;
    font-family: Montserrat;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: #fff;
    border: none;
    text-align: center;
    transition: 0.1s;
    padding-bottom: 1vw;
}

.modfooter .social-footer-icons .insta {
    position: absolute;
    right: 7vw;
    color: #152E4E;
    font-family: Montserrat;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: #fff;
    border: none;
    text-align: center;
    transition: 0.1s;
    padding-bottom: 1vw;
}

.modfooter .madeby {
    position: absolute;
    left: 1vw;
    background-color: #fff;
    color: #152E4E;
    text-align: center;
    font-family: Montserrat;
    font-size: max(14px, .95vw);
    padding-bottom: 1vw;
}

/*-------------------------------
-------------CONTACT-------------
-------------------------------*/
.contact-info .image img {
    filter: brightness(40%);
    object-position: 50% 30%;
}

.contact-info span {
    top: min(12.2vw, 12.2vh);
    text-align: right;
    right: 7%;
    border-bottom-length: max(50px, 5vw);
}

.container {
    position: absolute;
    top: max(24vh, 14.5vw);
    right: 5%;
    bottom: 3%;
    text-align: right;
    width: max(40vw, 50vh);
    height: 50vh;
    background-color: #000000D9;
    filter: brightness(100%);
    padding-bottom: 2vw;
}

/* Full-width input fields */
input[type=text] {
    height: max(70px, 1.4vw);
    margin-right: max(4vw, 45px);
    padding-top: min(6vh, 4.7vw);
    padding-bottom: 2vw;
    width: 80%;
    font-family: Montserrat;
    font-weight: 700;
    border-top-color: none;
    border-left-color: none;
    border-right-color: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #fff;
    border-bottom-width: .2vw;
    background: transparent;
    box-sizing: border-box;
    outline: none;
    color: #fff;
}

input[type=email] {
    height: max(70px, 1.4vw);
    margin-right: max(4vw, 45px);
    padding-top: min(6vh, 4.7vw);
    padding-bottom: 2vw;
    width: 80%;
    font-family: Montserrat;
    font-weight: 700;
    border-top-color: none;
    border-left-color: none;
    border-right-color: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #fff;
    border-bottom-width: .2vw;
    background: transparent;
    box-sizing: border-box;
    outline: none;
    color: #fff;
}

textarea {
    height:13vh;
    margin-right: max(4vw, 45px);
    padding-bottom: 3vw;
    width: 80%;
    font-family: Montserrat;
    font-weight: 700;
    border-color: #fff;
    border-width: .2vw;
    background: transparent;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: ew-resize;
}

.resize {
    padding-top: max(4vh,3vw);
    padding-bottom: max(4vh,1.8vw);
}

.btn {
    position: absolute;
    bottom: -3vh;
    width:100%;
    display:block;
    background-color: #152E4E;
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: .8;
    transition: 0.3s;
}

.btn:hover {
  opacity: 1;
}

/*-------------------------------
-------------FOOTER--------------
-------------------------------*/
.footer .social-footer-icons .lnkdin {
    position: absolute;
    bottom: 1.8vh;
    right: 15vw;
    color: #152E4E;
    font-family: Montserrat;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: #fff;
    border: none;
    text-align: center;
    transition: 0.1s;
}

.footer .social-footer-icons .insta {
    position: absolute;
    bottom: 1.8vh;
    right: 7vw;
    color: #152E4E;
    font-family: Montserrat;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: #fff;
    border: none;
    text-align: center;
    transition: 0.1s;
}

.footer .madeby {
    position: absolute;
    left: 1vw;
    bottom: 2vh;
    background-color: #fff;
    color: #152E4E;
    text-align: center;
    font-family: Montserrat;
    font-size: max(14px, .95vw);
}

/*-------------------------------
-------------GENERAL-------------
-------------------------------*/
button {
    opacity: .8;
}

button:hover {
    cursor: pointer;
    opacity: 1;
}

a {
    display: block;
}

img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

hr {
    width: 100%;
    size: 1vh;
    margin-bottom: 6vh;
    color: #152E4E;
}

.insta hr {
    width: 100%;
    size: 1vh;
    margin-bottom: 6vh;
    color: #152E4E;
    opacity: 0;
}
/*-------------------------------
-----------SCROLLBAR------------
-------------------------------*/
/* width */
::-webkit-scrollbar {
    width: 8px;
    overflow-y: overlay;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #152E4EBF;
    border-radius: 4px;
}

/* Handle on hover 
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
}


.on-scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
}

.on-scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
  overflow-y: overlay;
}

.on-scrollbar::-webkit-scrollbar-thumb {
  background-color: #000;
  z-index: 2;
}
*/



