html {
    height: 100%;
}

body {
    overflow-x: hidden;
    overflow:overlay;
}

.logo {
    position: absolute;
    top: 3vh;
    left: 3vw;
    width: 50px;
    height: 50px;
    border-color: #152E4E;
    border-width: 1.5px;
    background: url(logo.png);
    background-size: 100%;
    z-index: 2;
}

/*-------------------------------
--------------CIRCLE-------------
-------------------------------*/
.cir {
    border-radius:50%;
    padding-top: 0.45em;
    padding-bottom: 0.35em;
    padding-right: 0.57em;
    padding-left: 0.59em;
}

/*-------------------------------
---------DROPDOWN MENU-----------
-------------------------------*/
.menu {
    position: absolute;
    top: 4.22313vw;
    left: 6%;
    color: #3163a5;
    font-size: 3.95vw;
    font-family: Montserrat;
    border: none;
    background-color: #fff;
}

.dd-content {
    display: none;
    position: absolute;
    top: 8.7vw;
    left: 6%;
    background-color: #152E4E;
    font-family: Montserrat;
    font-size: 1.3vw;
    width: 20vw;
    height: 16.7vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dd-content a {
    top: 5.2vw;
    left: 6%;
    color: #fff;
    font-weight: 500;
    padding: 2vw 2vw;
    text-decoration: none;
}

.dd-content a:hover {
    background-color: #fff;
    color: #3163a5;
}

.dropdown:hover .dd-content {
    display: block;
}

.dropdown:hover .menu {
    background-color:#152E4E;
    color: #fff;
    border-top: #fff;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-width: 3px;
}
/*-------------------------------
-----------BACKGROUNDS-----------
-------------------------------*/
.image {
    display: inline-block;
}

.image img {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 93vh;
    object-fit: cover;
    object-position: top;
    border: none;
    z-index: 0;
}

/*-------------------------------
-------------TOP NAV-------------
-------------------------------*/
.top-nav {
    background-color: #152E4E;
    color: #fff;
}

.top-nav .home {
    position: absolute;
    top: 1vw;
    right: 53.8vw;
    color: #fff;
    font-family: Montserrat;
    font-size: min(13px, 1.35vw);
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.top-nav .project {
    position: absolute;
    top: 1vw;
    right: 43.4vw;
    color: #fff;
    font-family: Montserrat;
    font-size: min(13px, 1.35vw);
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.top-nav .resume {
    position: absolute;
    top: 1vw;
    right: 34.2vw;
    color: #fff;
    font-family: Montserrat;
    font-size: min(13px, 1.35vw);
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.top-nav .insta {
    position: absolute;
    top: 1vw;
    right: 22.7vw;
    color: #fff;
    font-family: Montserrat;
    font-size: min(13px, 1.35vw);
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.top-nav .about {
    position: absolute;
    top: 1vw;
    right: 14.5vw;
    color: #fff;
    font-family: Montserrat;
    font-size: min(13px, 1.35vw);
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
}

.top-nav .contact {
    position: absolute;
    top: 1vw;
    right: 4.5vw;
    color: #fff;
    font-family: Montserrat;
    font-size: min(13px, 1.35vw);
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
}

/*-------------------------------
--------------HOME---------------
-------------------------------*/
.myname .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
    text-align: center;
    color: #fff;
    font-weight: 400;
    font-size: max(25px, 3.5vw);
    z-index: 2;
}

.myname .image img {
    filter: brightness(90%);
    object-position: 50% 30%;
}

.myname .learn-more {
    position: absolute;
    bottom: 30vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    font-family: Montserrat;
    text-align: center;
    color: #152E4E;
    font-weight: 300;
    font-size: max(20px, 1.5vw);
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: none;
    border: none;
    z-index: 2;
    text-align: center;
    transition: 0.1s;
}

/*-------------------------------
-------------TITLES--------------
-------------------------------*/
span {
    position: absolute;
    top: 12.2vw;
    font-family: Montserrat;
    font-weight: 300;
    font-size: max(45px, 4.5vw);
    color: #fff;
    border-bottom: .25vw solid #3163a5;
    border-bottom: .25vw solid rgba(49, 99, 165, .6);
    padding-bottom: .75vw;
    z-index: 2;
}

/*-------------------------------
--------------ABOUT--------------
-------------------------------*/
.descMe {
    position: absolute;
    top: min(25vw, 28vh);
    left: 8%;
    right: 50%;
    font-family: Montserrat;
    color: #fff;
    font-weight: 400;
    font-size: max(14px, 1.2vw);
    z-index: 2; 
}

.abtbck span {
    top: min(12.2vw, 12.2vh);
    text-align: right;
    left: 8%;
    border-bottom-length: max(50px, 5vw);
} 

.abtbck .image img {
    filter: brightness(40%);
    object-position: 50% 25%;
}

/*-------------------------------
-------------PROJECT-------------
-------------------------------*/
.projbck span {
    top: min(12.2vw, 12.2vh);
    text-align: right;
    left: 8%;
    border-bottom-length: max(50px, 5vw);
} 

.projbck .image img {
    filter: brightness(40%);
    object-position: 50% 25%;
}

.spacecraft {
    position: absolute;
    top: min(24vw, 27vh);
    left: 8%;
    right: 50%;
    font-family: Montserrat;
    color: #fff;
    font-weight: 400;
    font-size: max(12px, 1.15vw);
    z-index: 2; 
}

.tamuhack {
    position: absolute;
    top: min(58vw, 47vh);
    left: 8%;
    right: 50%;
    font-family: Montserrat;
    color: #fff;
    font-weight: 400;
    font-size: max(12px, 1.15vw);
    z-index: 2; 
}

.howdyhack {
    position: absolute;
    top: min(102vw, 72vh); 
    left: 8%;
    right: 50%;
    font-family: Montserrat;
    color: #fff;
    font-weight: 400;
    font-size: max(12px, 1.15vw);
    z-index: 2; 
}

.projbck .devpst {
    position: absolute;
    bottom: 1.5vh;
    right: -3.5vw;
    color: #152E4E;
    font-family: Montserrat;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: none;
    border: none;
    text-align: center;
    transition: 0.1s;
}

/*-------------------------------
-------------RESUME--------------
-------------------------------*/
.top-nav svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: min(40px, 3.7vw);
    width: 100vw;
}

rect {
    height: min(40px, 3.7vw);
    width: 100vw;
    x=0;
    y=0;
    fill: #152E4E;
    color: #fff;
    opacity: 90%;
}

.resume span {
    top: min(12.2vw, 12.2vh);
    text-align: right;
    right: 7%;
    border-bottom-length: max(50px, 5vw);
} 

.resume .image img {
    filter: brightness(40%);
    object-position: 50% 25%;
}

.iframe-parent {
    width: 50vw;
    height: min(75vw, 65.5vh);
    position: relative;
    top: 20vh;
    z-index: 2;
}

/* Expand to the entire container */
iframe {
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    z-index: 2;
}

.resume-text {
    position: relative;
    top: min(30vw, 30vh);
    width: max(35vw, 30vh);
    height: 64vh;
    font-family: Montserrat;
    color: #fff;
    font-weight: 400;
    font-size: max(12px, 1.2vw);
    float: right;
    display: inline; 
    overflow-y: scroll;
    z-index: 2;
}
  
.resume a {
    display: inline-block;
}
/* unvisited link */
.resume a:link {
  color: #fff;
}

/* visited link */
.resume a:visited {
  color: #fff;
}

/* mouse over link */
.resume a:hover {
  cursor: pointer;
}

/*-------------------------------
--------------INSTA--------------
-------------------------------*/
.insta hr {
    width: 100%;
    size: 1vh;
    margin-bottom: 6vh;
    color: #152E4E;
    opacity: 0;
}

/*-------------------------------
-------------SERVICE-------------
-------------------------------*/
.servbck .image img {
    filter: brightness(40%);
    object-position: 50% 40%;
}

.servbck span {
    top: min(12.2vw, 12.2vh);
    text-align: right;
    right: 7%;
    border-bottom-length: max(50px, 5vw);
}
/*.suits {
    position: absolute;
    top: min(25vw, 29vh);
    left:50%;
    right: 7%;
    font-family: Montserrat;
    color: #fff;
    font-weight: 400;
    font-size: max(12px, 1.2vw);
    z-index: 2; 
}*/

.bodypos {
    position: absolute;
    top: min(25vw, 29vh);
    left:50%;
    right: 7%;
    font-family: Montserrat;
    color: #fff;
    font-weight: 400;
    font-size: max(12px, 1.2vw);
    z-index: 2; 
}
.servbck .dtcc .image img {
    height: 23vh;
    width: 43vw;
    object-position: center;
    position: relative;
    display: inline-block;
    filter: brightness(100%);
    z-index: 2;
}

.sewa {
    position: absolute;
    top: min(105vw, 75vh); 
    left: 50%;
    right: 7%;
    font-family: Montserrat;
    color: #fff;
    font-weight: 400;
    font-size: max(12px, 1.2vw);
    z-index: 2; 
}

.servbck .link {
    position: absolute;
    bottom: 22.5vh;
    right: -4vw;
    color: #152E4E;
    font-family: Montserrat;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: none;
    border: none;
    text-align: center;
    transition: 0.1s;
}

.servbck a {
    display: inline-block;
}

/* unvisited link */
.servbck a  {
  color: #fff;
}

/* visited link */
.servbck a:visited {
  color: #fff;
}

/* mouse over link */
.servbck a:hover {
  cursor: pointer;
}

/*-------------------------------
-------------CONTACT-------------
-------------------------------*/
.contact-info .image img {
    filter: brightness(40%);
    object-position: 50% 40%;
}

.contact-info span {
    top: min(12.2vw, 12.2vh);
    text-align: right;
    right: 7%;
    border-bottom-length: max(50px, 5vw);
}

.container {
    position: absolute;
    top: max(24vh, 14.5vw);
    right: 5%;
    bottom: 3%;
    text-align: right;
    width: max(40vw, 50vh);
    height: 50vh;
    background-color: #000000D9;
    filter: brightness(100%);
    padding-bottom: 2vw;
}

/* Full-width input fields */
input[type=text] {
    height: max(70px, 1.4vw);
    margin-right: max(4vw, 45px);
    padding-top: min(6vh, 4.7vw);
    padding-bottom: 2vw;
    width: 80%;
    font-family: Montserrat;
    font-weight: 700;
    border-top-color: none;
    border-left-color: none;
    border-right-color: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #fff;
    border-bottom-width: .2vw;
    background: transparent;
    box-sizing: border-box;
    outline: none;
    color: #fff;
}

input[type=email] {
    height: max(70px, 1.4vw);
    margin-right: max(4vw, 45px);
    padding-top: min(6vh, 4.7vw);
    padding-bottom: 2vw;
    width: 80%;
    font-family: Montserrat;
    font-weight: 700;
    border-top-color: none;
    border-left-color: none;
    border-right-color: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: #fff;
    border-bottom-width: .2vw;
    background: transparent;
    box-sizing: border-box;
    outline: none;
    color: #fff;
}

textarea {
    height:13vh;
    margin-right: max(4vw, 45px);
    padding-bottom: 3vw;
    width: 80%;
    font-family: Montserrat;
    font-weight: 700;
    border-color: #fff;
    border-width: .2vw;
    background: transparent;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    cursor: ew-resize;
}

.resize {
    padding-top: max(4vh,3vw);
    padding-bottom: max(4vh,1.8vw);
}

.btn {
    position: absolute;
    bottom: -3vh;
    width:100%;
    display:block;
    background-color: #152E4E;
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
    border: none;
    cursor: pointer;
    opacity: .8;
    transition: 0.3s;
}

.btn:hover {
  opacity: 1;
}

/*-------------------------------
-------------FOOTER--------------
-------------------------------*/
.footer .social-footer-icons .insta {
    position: absolute;
    bottom: 1.8vh;
    right: 7vw;
    color: #152E4E;
    font-family: Montserrat;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: #fff;
    border: none;
    text-align: center;
    transition: 0.1s;
}

.footer .social-footer-icons .lnkdin {
    position: absolute;
    bottom: 1.8vh;
    right: 15vw;
    color: #152E4E;
    font-family: Montserrat;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: #fff;
    border: none;
    text-align: center;
    transition: 0.1s;
}

.footer .social-footer-icons .github {
    position: absolute;
    bottom: 1.8vh;
    right: 22vw;
    color: #152E4E;
    font-family: Montserrat;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: #fff;
    border: none;
    text-align: center;
    transition: 0.1s;
}

.footer .social-footer-icons .email {
    position: absolute;
    bottom: 1.8vh;
    right: 29vw;
    color: #152E4E;
    font-family: Montserrat;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: #fff;
    border: none;
    text-align: center;
    transition: 0.1s;
}


.footer .madeby {
    position: absolute;
    left: 1vw;
    bottom: 2vh;
    background-color: #fff;
    color: #152E4E;
    text-align: center;
    font-family: Montserrat;
    font-size: max(14px, .95vw);
}

/*-------------------------------
-----------MOD-FOOTER------------
-------------------------------*/
.modfooter .social-footer-icons .insta {
    position: absolute;
    right: 7vw;
    color: #152E4E;
    font-family: Montserrat;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: #fff;
    border: none;
    text-align: center;
    transition: 0.1s;
    padding-bottom: 1vw;
}

.modfooter .social-footer-icons .lnkdin {
    position: absolute;
    right: 15vw;
    color: #152E4E;
    font-family: Montserrat;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: #fff;
    border: none;
    text-align: center;
    transition: 0.1s;
    padding-bottom: 1vw;
}

.modfooter .social-footer-icons .github {
    position: absolute;
    right: 22vw;
    color: #152E4E;
    font-family: Montserrat;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: #fff;
    border: none;
    text-align: center;
    transition: 0.1s;
    padding-bottom: 1vw;
}

.modfooter .social-footer-icons .email {
    position: absolute;
    right: 29vw;
    color: #152E4E;
    font-family: Montserrat;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: #fff;
    border: none;
    text-align: center;
    transition: 0.1s;
    padding-bottom: 1vw;
}

.modfooter .madeby {
    position: absolute;
    left: 1vw;
    background-color: #fff;
    color: #152E4E;
    text-align: center;
    font-family: Montserrat;
    font-size: max(14px, .95vw);
    padding-bottom: 1vw;
}

/*-------------------------------
-------------GENERAL-------------
-------------------------------*/
button {
    opacity: .8;
}

button:hover {
    cursor: pointer;
    opacity: 1;
}

a {
    display: block;
}

img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

hr {
    width: 100%;
    size: 1vh;
    margin-bottom: 6vh;
    color: #152E4E;
}

/*-------------------------------
-----------SCROLLBAR------------
-------------------------------*/
/* width */
::-webkit-scrollbar {
    width: 8px;
    overflow-y: overlay;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #152E4EBF;
    border-radius: 4px;
}


