html {
    height: 100%;
}

body {
    overflow-x: hidden;
    scrollbar-gutter-right:auto;
}

.logo {
    position: absolute;
    top: 3vh;
    left: 3vw;
    width: 50px;
    height: 50px;
    border-color: #152E4E;
    border-width: 1.5px;
    background: url(logo.png);
    background-size: 100%
}

/*-------------------------------
--------------CIRCLE-------------
-------------------------------*/
.cir {
    border-radius:50%;
    padding-top: 0.45em;
    padding-bottom: 0.35em;
    padding-right: 0.57em;
    padding-left: 0.59em;
}

/*-------------------------------
-------------TOP NAV-------------
-------------------------------*/
.top-nav {
    background-color: #152E4E;
    color: #fff;
}

.top-nav .home {
    position: absolute;
    top: 1vw;
    right: 32vw;
    color: #fff;
    font-family: Montserrat;
    font-size: min(13px, 1.35vw);
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.top-nav .about {
    position: absolute;
    top: 1vw;
    right: 23.5vw;
    color: #fff;
    font-family: Montserrat;
    font-size: min(13px, 1.35vw);
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;

}
.top-nav .resume {
    position: absolute;
    top: 1vw;
    right: 14vw;
    color: #fff;
    font-family: Montserrat;
    font-size: min(13px, 1.35vw);
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;

}

.top-nav .contact {
    position: absolute;
    top: 1vw;
    right: 5vw;
    color: #fff;
    font-family: Montserrat;
    font-size: min(13px, 1.35vw);
    align-items: center;
    justify-content: center;
    display: block;
    cursor: pointer;
    background-color: transparent;
    border: none;
}


/*-------------------------------
-------------RESUME--------------
-------------------------------*/
.pdf {
    height: auto;
    width: 100vw;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

}

.pdf iframe {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 600px;
    border: none;
}

.tempresume {
    position: absolute;
    right: 0;
    top: 5%;
    bottom: 0;
    width: 100%;
    border: none;
}

.image {
    display: inline-block;
}

.image img {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 650px;
    object-fit: cover;
    object-position: top;
    border: none;
}

.image svg {
    position: absolute;
    left: 0;
    top: 0;
}

svg {
    height: min(40px, 3.7vw);
    width: 100vw;

}

rect {
    height: min(40px, 3.7vw);
    width: 100vw;
    x=0;
    y=0;
    fill: #152E4E;
    color: #fff;
}

/*-------------------------------
---------DROPDOWN MENU-----------
-------------------------------*/
.menu {
    position: absolute;
    top: 4.22313vw;
    left: 6%;
    color: #3163a5;
    font-size: 3.95vw;
    font-family: Montserrat;
    border: none;
    background-color: #fff;
}

.dd-content {
    display: none;
    position: absolute;
    top: 8.7vw;
    left: 6%;
    background-color: #152E4E;
    font-family: Montserrat;
    font-size: 1.3vw;
    width: 20vw;
    height: 16.7vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dd-content a {
    top: 5.2vw;
    left: 6%;
    color: #fff;
    font-weight: 500;
    padding: 2vw 2vw;
    text-decoration: none;
}

.dd-content a:hover {
    background-color: #fff;
    color: #3163a5;
}

.dropdown:hover .dd-content {
    display: block;
}

.dropdown:hover .menu {
    background-color:#152E4E;
    color: #fff;
    border-top: #fff;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-width: 3px;
}

/*-------------------------------
-------------TITLES--------------
-------------------------------*/
span {
    position: absolute;
    top: 9.2vw;
    left: 8%;
    font-family: Montserrat;
    font-weight: 300;
    font-size: max(50px, 5vw);
    color: #fff;
    border-bottom: .25vw solid #97b8cc;
    padding-bottom: .75vw;
}

/*-------------------------------
--------------ABOUT--------------
-------------------------------*/
.descMe {
    position: absolute;
    top: 22.2vw;
    left: 8%;
    right: 50%;
    font-family: Montserrat;
    color: #fff;
    font-weight: 400;
    font-size: max(18px, 1.5vw);
}

/*-------------------------------
-----------ABOUT IMAGE-----------
-------------------------------*/
.aboutme img {
    width: 45vh;
    height: auto;
    object-fit: contain;
    border: none;
    margin-left: 53%;
    margin-top: 10%;
}

/*-------------------------------
--------------ABOUT--------------
-------------------------------*/
.abtbck {
    background: #3163a5;
}


/*-------------------------------
-------------GENERAL-------------
-------------------------------*/
button:hover {
    cursor: pointer;
}

a {
    display: block;
}

img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

/*-------------------------------
-----------SCROLLBAR------------
-------------------------------*/
/* width */
::-webkit-scrollbar {
    width: 8px;
    overflow-y: overlay;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #152E4E;
    opacity: 0.7;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

::-webkit-scrollbar-track-piece:start {
    background: transparent;
}

::-webkit-scrollbar-track-piece:end {
    background: transparent;
}





